*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* display hiden here */
.hide{
    display:none;
}


/* navbar section */

.navbar{
    width: 1192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: 40px auto;
}

.nav_left{
    display: flex;
}

.nav_list >ul{
    list-style: none;
    display: flex;
}

.nav_list >ul li{
    margin: 1em;
}

.nav_title{
    color: #131318;
font-size: 36px;
font-weight: 800;
margin-left: 16px;

}


/* banner section start */

.bannar_container{
    width: 1170px;
height: 500px;
border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
background-image: url('../image/B.png');
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
margin-bottom: 0px;
margin: 0 auto;

}
.banner_child{
position: relative;
left:25%;
top: 25%;
}

.banner_title{
    color: #FFF;
font-size: 44px;
font-weight: 800;
margin-left: 10px;


}
.banner_des{
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
width: 556px;
}


.form_main{
   
    opacity: 1;   
    width: 75%; 
    position: relative; 
    top: 30%;
    left: 13%;
}
.banner_form{
    display: flex;
padding: 16px;
align-items: flex-start;
justify-content: center;
gap: 24px;
border-radius: 8px;


background-color:white;
opacity: .7;

}
.banner_form input{
   
  background-color: white;
  
}




.banner_form .btn_form{
    background-color: #FF5400;
    
 
}

.when::placeholder{
    background-image: url('../image/selection.png');
    background-repeat: no-repeat;
    background-position: bottom right; 
  
 
}
.select::placeholder{
    background-image: url('../image/selection.png');
    background-repeat: no-repeat;
    background-position: bottom right; 
}
.btn_form{
    background-image: url('../image/seach.png');
    background-repeat: no-repeat;
  background-position: 10px 10px; 
  margin-top: 28px;

}


/* Our Popular Tours section */

.Primary_text{
    color: #131318;
font-size: 40px;
font-weight: 800;
margin-bottom: 0px;
}

.Popular_tour_container{
    display: flex;
   position: relative;
   left: 80px;
   margin-top: 40px;
}

.Popular_child{
width: 45%;

}


.popular_des{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin-top: 20px;
margin-bottom: 0px;
}

.popular_list{
    margin-top: 20px;
    margin-left: 25px;
}
.popular_list > li{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
 font-weight: 400;
    line-height: 26px; 
    margin-bottom: 20px;
}

.Popular_des ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 25px;
   
}

.last_des{
    color: #5A5A5D;

font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin-bottom: 0px;

}

.primary_btn{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border: none;
margin-top: 20px;
}


.Popular_img{
    width: 45%;
    margin-left: 45px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.img_right_popular{
    width: 55%;
}

/* choose us section start */
.choose_title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
margin-top: 50px;
margin-bottom: 0px;

}
.choose_des{
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
line-height: 26px; 
width: 643px;
margin: 0 auto;
margin-top: 30px;
margin-bottom: 0px;

}
.a{
    margin: 0 auto;
}
.choose_container{
    display: flex;
    margin-top: 50px;
    gap: 20px;
    justify-content: center;
}
.handpick_hotel{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 20px;

}
.handpic_icon{
    font-size: 3em;
    margin-bottom: 0px;
}
.handpic_title{
    color: #131318;
font-size: 24px;
font-weight: 800;
margin-top: 20px;

}
.handpic_des{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin-top: 20px;
}



.world_class{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
width: 573px;
height: 284px;
padding: 20px;

}

.best_price{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
    
}


/* grid-container */
.destination_container{
    margin-top: 60px;
}
.destination_title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 0px;

}
.destination_des{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px; 
width: 643px;
margin: 0 auto;
margin-top: 30px;
margin-bottom: 0px;
}


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }



.grid-container {
    margin-top: 50px;
   display: grid;
   grid-gap: 20px 30px;
        grid-template-areas:
          "header header header header menu menu menu  menu  "
          " main main right right right footer footer footer "
          "item6 item6 item6 item7 item7 item7 item7 item7";
         width: 1000px;
        
      }



/* Newletter Section start */

.newsletter_container{
    width: 1192px;
    display: flex;
    margin: 0px auto;
    margin-top: 50px;
    justify-content: space-between;
}

.newsletter_form{
border: 2px solid tomato;
border-radius: 15px;
padding: 30px;
}

.news_title{
    color: #131318;
font-size: 24px;
font-weight: 800;
margin-bottom: 0px;

}
.news_des {
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
width: 350px;
margin-top: 20px;
margin-bottom: 0px;
}

input{
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
width: 393px;
height: 52px;
margin-bottom: 20px;
border: none;

}
input[type="text"]{
    margin-top: 30px;
   
}
input:focus{
   outline: none;
}

input[type="text"]::placeholder{
    padding-left: 15px;
    
}
input[type="email"]::placeholder{
    padding-left: 15px;
   
}
.news_btn{
    width: 393px;
    height: 52px;
    border-radius: 8px;
background: #FF5400;

}
.news_img{
    position: relative;
}
.card{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg) translateY(-45px) translateX(380px);
border-radius: 16px;
background: #FF5400;
position: absolute;
text-align: center;
color: #FFF;
}

.card_title{
    margin-top: 35px;
    padding: 5px;
    margin-bottom: 0px;
}


/* footer section start */
.footer_container{
    margin-top: 60px;
    width: 100%;
    height: 450px;
 background: rgba(19, 19, 24, 0.05);
 
}

.foot_img{
    margin-top: 100px;
}

.footer_title{
    display: flex;
align-items: center;
justify-content: center;
margin-top: 65px;
}
.footer_h2{
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 100px;

}

.footer_des{
    width: 769px;
    color: #5A5A5D;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin: 0 auto;
margin-top: 15px;
margin-bottom: 0px;
}
.footer_icon{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.footer_icon >li{
    margin: 10px;
    list-style: none;
    margin-bottom: 0px;

}
.fa-brands{
    font-size: 2rem;
}
.horizontal{
   
    margin-bottom: 0px;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}
.footer_copy{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-weight: 300;
text-align: center;
margin-top: 25px;
margin-bottom: 30px;
}





/* responsive our popular Tours  */
/* For  mobile devices  Use maximum width 600px*/

@media screen and (max-width:600px) {
 

    /* our popular tours */

   .Popular_tour_container {
   left: 0px;
   flex-direction: column;

   }
   .Popular_child{
    width: 100%;
   }
    .Popular_img{
        width: 100%;
margin-top: 50px;
        margin-left: 0px;
        margin-bottom: 0px; 
    }

    .Popular_img >.img_right_popular{
width: 100%;
    }


    .Popular_child > .Primary_text{
        font-size: 20px;
        margin-top: 20px;
    }
    

    /* header or navbar section */
    .navbar{
        width: auto;
        flex-direction: column;
        margin: 40px auto; 
    }

    .nav_list >ul{
        flex-direction: column;
        
    }

/*Newsletter section*/

.newsletter_container{
    flex-direction: column;
  width: auto;
 gap: 20px;
    margin: 0px;
    margin-top: 50px;
    
}
.newsletter_form{
    border: 2px solid tomato;
    border-radius: 15px;
    padding: 10px;

}

/* destination section */
.grid-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
    grid-gap: 20px 30px; 
    width: 1000px;
}
.grid-container >img{
    width: 100%;
    
}


/* choose us section  */
.choose_container{
    flex-direction: column;
}




/* Explore tour */
.bannar_container{
width: auto;
height: 790px;
/* margin: 0 auto; */

}

.banner_child{
    position: relative;
left:0;
top: 5%;

}

.banner_title{
    font-size: 34px;
    font-weight: 800;
    margin-left: 10px; 
    color: #131318;
}

.banner_des{
    line-height: 26px; 
    width: auto;  
    text-align: center;
    color: #131318;
    margin-top: 30px;

}
.banner_form{
    flex-direction: column;
opacity: 1; 
}
.form_main{
    width: auto; 
    position: relative; 
    top: 15%;
    left: 0;
    opacity: 0.8; 
}
input{
    width: 100%;
}
input[type="text"]::placeholder{
    padding-left: 0px;
    
}

/* footer section */
.footer_container{
    margin-top: 60px;
    width:100%;
    height: 450px;
}
.footer_des{
    width: auto;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin: 0 auto;
}

}



/* min-width 922px upto responsive device */

/* @media screen and (min-width:992px ) and (max-width:1200px) {
    
} */